<!DOCTYPE html>
<html>
<body ng-app="mymodal">
<!-- views/sd.handlebars -->
<style>

body {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
}
li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
</style>

<div style="width:25%;float:left" >
  <ul id="list">
    <li ><a class="active" href="/dashboard">Field Inspectors</a></li>
    <li ><a href="/requirements">All Requirements</a></li>
    <li ><a href="/pend_requirements">Pending Requirements</a></li>
    <li ><a href="/ful_requirements">Fulfilled Requirements</a><li>
    <li ><a href="/tasks">Tasks</a><li>
  </ul>
</div>
<div style="margin-left:50px;float:left;width:70%">
  <div ng-controller= "MainCtrl">
    <h3>Field Inspectors</h3>
    <hr />
    <table class="table table-hover" style="width:100%">
		<thead>
    <tr>
          <td><label>Name</label></td>
          <td><label>Email Id</label></td>
          <td><label>Region</label></td>
          <td><label>Location</label></td>
    </tr>
		</thead>
		<tbody>
      {{#each fi}}
        <tr ng-click = "toggleModal()" >
          <td	>{{this.username}}</td>
          <td	>{{this.email}}</td>
          <td	>{{this.region}}</td>
          <td	>{{this.locat}}</td>
        </tr>
      {{/each}}
		</tbody>
    </table>
		<div class="modal fade" id="myModal">
  		<div class="modal-dialog">
    		<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Requirements</h4>
      		</div>
      		<div class="modal-body">
    				<table class="table table-condensed" style="width:100%" id="myTable">
    					<thead>
    						<tr>
          				<td><label>Added on</label></td>
          				<td><label>Added by</label></td>
          				<td><label>Crop</label></td>
          				<td><label>Requirements</label></td>
          				<td><label>Region</label></td>
          				<td><label>Fullfilled?</label></td>
    						</tr>
    					</thead>
    					<tbody>
    					</tbody>
    				</table>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      		</div>
    		</div><!-- /.modal-content -->
  		</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
  </div>
</div>    

  <script src ="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

  <script>
		$('table tbody tr  td').on('click',function(){
			$.get("/sd/fi/req",{id:$(this).closest('tr').children()[1].textContent},function(data,status){
				//alert("Data: " + data + "\nStatus: " + status);
				 $("#myModal").modal("show");
				var json = data;
				$(function () {
            var content = '';
            //content += '<tbody>'; -- **superfluous**
            for (var i = 0; i < json.length; i++) {
            content += '<tr id="' + json[i].timeofrequest + '">';
            //content += '<td><input id="check_' + json[i].ID + '" name="check_' + json[i].ID + '" type="checkbox" value="' + json[i].ID + '" autocomplete=OFF /></td>';
            content += '<td>' + json[i].timeofrequest + '</td>';
            content += '<td>' + json[i].seekeremail + '</td>';
            content += '<td>' + json[i].crop + '</td>';
            content += '<td>' + json[i].items + '</td>';
            content += '<td>' + json[i].region + '</td>';
						content += '<td>' + json[i].fulfilled + '</td>';
            //content += '<td><a href="#" class="edit">Edit</a> <a href="#" class="delete">Delete</a></td>';
            content += '</tr>';
            }
           // content += '</tbody>';-- **superfluous**
            //$('table tbody').replaceWith(content);  **incorrect..**
             $('#myTable tbody').html(content);  // **better. give the table a ID, and replace**
       });  
    //		$("#myModal").modal("show");
    //		$("#txtfname").val($(this).closest('tr').children()[0].textContent);
    //		$("#txtlname").val($(this).closest('tr').children()[1].textContent);
			});
		});

</script>
</body>
</html>
